/Dataset/
/NeuralNetwork/train_change/
/NeuralNetwork/gif/
/competitions/Secret/
/NeuralNetwork/Steganography/gif/
/NeuralNetwork/Steganography/training/
/NeuralNetwork/partial/gif/
/NeuralNetwork/partial/training/
/NeuralNetwork/Pix2Pix/final/
/NeuralNetwork/Pix2Pix/gif/
/NeuralNetwork/Pix2Pix/train_change/
/competitions/sec/