/pretrained/
/DataSet/
/DataSet_Medical/
/NLP_data/
/NeuralNetwork/train_change/
/NeuralNetwork/gif/
/competitions/Secret/
/NeuralNetwork/Steganography/gif/
/NeuralNetwork/Steganography/training/
/NeuralNetwork/partial/gif/
/NeuralNetwork/partial/training/
/NeuralNetwork/Pix2Pix/final/
/NeuralNetwork/Pix2Pix/gif/
/NeuralNetwork/Pix2Pix/train_change/  
/NeuralNetwork/LabelRefinement/final/
/NeuralNetwork/LabelRefinement/gif/
/NeuralNetwork/LabelRefinement/train_change/
/NeuralNetwork/Segnet/final/
/NeuralNetwork/Segnet/gif/
/NeuralNetwork/Segnet/train_change/
/competitions/sec/
/NeuralNetwork/reference_seg/
*/patches.mat
*/Integrated-Gradients/InceptionModel/
*/gif/*.png
*/train_change/*.png
*/viz/*.png
*.pkl
*.h5
*.npy
*.csv
*.gz
*.wgt

/preparing_papers/*/*.ipynb
/preparing_papers/*/*.png
/preparing_papers/*/*.jpg
/preparing_papers/*/*.gif
reinforcement_learning/Random_Files/*